html,
body {
  margin: 0;
  padding: 0;
}

h1,
footer {
  padding: 12px;
}

a {
  color: white;
  font-family: "Oswald";
  text-decoration: none;
}

a:visited,
a:active {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "Yellowtail";
  color: #222;
}

.gray {
  background: #efefef;
}

h3 {
  font-family: "Oswald";
  color: #333;
  padding: 20px;
}
h2 {
  padding: 20px;
}
p {
  font-family: "Playfair Display";
  color: #333;
}

section {
  padding: 40px 80px;
  height: 300px;
}

ul {
  margin: 0;
}
ul li {
  list-style-type: none;
}
nav {
  position: relative;
  left: -25px;
  width: calc(100% + 25px);
  margin: 0;
  padding: 10px 0;
  background: #333;
}

nav ul li {
  display: inline-block;

  font-size: 18px;
  font-weight: 500;
  border: 1px solid transparent;
  color: rgb(204, 144, 144);
  font-family: "Oswald";
}

nav ul li:hover {
  border: 1px solid rgb(168, 119, 119);
  cursor: pointer;
}
.indexLogo {
  width: 100px;
  height: 30px;
  padding-right: 100px;
}
nav ul li.left {
  float: left;
}
nav ul li.right {
  float: right;
  margin: 0 15px 0 0;
}
header {
  background: #b18484;
}

section,
div,
h3 {
  background: rgb(122, 93, 93);
  display: block;
}

.third {
  float: left;
  width: 33%;
}
.two-thirds {
  float: right;
  width: 66%;
}
footer {
  background-color: lightcoral;
  text-align: center;
}
table {
  border: 1px pink solid;
}
td {
  border: 1px rgb(35, 90, 35) solid;
}
section img {
  column-span: all;
}

.images img {
  margin: 0 4%;
  width: 300px;
  height: 200px;
}
